[submodule "pack/nvim/start/catppuccin"]
	path = pack/nvim/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "pack/nvim/start/fugitive"]
	path = pack/nvim/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/nvim/start/nvim-lspconfig"]
	path = pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/nvim/start/nvim-navic"]
	path = pack/nvim/start/nvim-navic
	url = https://github.com/SmiteshP/nvim-navic
[submodule "pack/nvim/start/nvim-treesitter"]
	path = pack/nvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/nvim/start/plenary.vim"]
	path = pack/nvim/start/plenary.vim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/nvim/start/telescope.vim"]
	path = pack/nvim/start/telescope.vim
	url = https://github.com/nvim-telescope/telescope.nvim
